<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .red-output{color:red; border-style: solid; border-color: red;}
      .green-output{color:green; border-style: solid; border-color: green;}
    </style>
  </head>
<body ng-app="LunchChecker">
   <div class="container" ng-controller="LunchCheckerController">
     <h1>Lunch Checker</h1>
         <!--any item entered in the list that is empty or just whitespace is NOT counted as a lunch item-->
         <div class="form-group">
             <input id="lunch-menu" ng-model="lunchOrderInput" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="determineAndDisplayLunchOrderStatusMessage()">Check If Too Much</button>
         </div>
         <div class="form-group message {{statusCss}}">
           {{lunchOrderStatus}}
         </div>
   </div>

</body>
</html>
